.org{
    background-image: url("download\ \(2\).jpeg");
    background-size: cover;
    display: flex;
    height: 1000px;
    color: aqua;
    align-items: center;
    justify-content: center;
}
.parent{
    display: flex;    
    align-items: center;   
    justify-content: center;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.header{
    display: flex;
    justify-content:center ;
    justify-content: space-between;
    width: 60%;
    

}
.header a{
    text-decoration: none;
    display: flex;
    width: fit-content;
    height: 20px;
    width: 50px;
    padding: 0 10px;
    color: white;
   
}
.header  :hover{
    color: black;
    background-color: white;
    box-shadow: 0 0 6px 2px rgb(255, 255, 255);
}
.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutMe, .ImageAndText, .ourskills{
    display: flex;
    justify-content: center;
}
.img2{
    height: 400px;
    width: 400px;
    border: solid 1px red;
    border-radius: 50%;

}
.about-me-text #A11{
    display: flex;
    justify-content: center;
}
.ourskills{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: row;
    gap: 50px;
    height: 130vh;
    
    
}
.ourskills div{

    border-width: 0 1px 2px 1px;
    border-style: solid;
    height: 150px;
    width:350px;
   
    transition: width 1s, height 1s;

}
.A11skills{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
.skills{



    background-color: black;
    color: white;
    width: 100%;

}
.html{
    border-width: 0px 1px 2px 1px;
    border-style: solid;
    border-color: orange ;
    width: 5000px;
    
}
.css{
    border-width: 0px 1px 2px 1px;
    border-style: solid;
    border-color: blue;
    width: 5000px;
}
.java{
    
    border-width: 0px 1px 2px 1px;
    border-style: solid;
    border-color: yellow;
    width: 5000px;
    
    
}

.Cpp{
    border-width: 0px 1px 2px 1px;
    border-style: solid;
    border-color:steelblue;
    width: 5000px;
}
.python{
    border-width: 0px 1px 2px 1px;
    border-style: solid;
    border-color:rgb(88, 180, 70);
    width: 5000px;
}


.imgs{
    display: block;
    height: 100px;
    width: fit-content;
    margin: auto;
}
.lang{
    padding-left: 25px;
}
.ourskills div :hover{
    height: 110px;
    width:  125px;
}
.contact-section{
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    background-color: #333;
    text-align: center;
}
.footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}