@media screen and (min-width: 992px) and (max-width: 1199px) {
    .org{
        background-image: url("lovepik-future-tech-wallpaper-background-image_500557144.jpg");
    }
    .
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .org{
        background-image: url("lovepik-future-tech-wallpaper-background-image_500557144.jpg");
    }
    .about{
        height: 40vh;
    }
    .skills .ourskills{
        width: 100%;
    }
}